/* Headings */

h3 {

    text-align: center;
   
    color: red;
   
    text-decoration: none;
   
    border-bottom: 5px solid red;
   
    display: inline-block;
}
   
   
   
/* Todo: Lag en style for header */

/* Todo: Lag en style for footer */

/* Todo: Få div class logo til å holde seg på venstreside */
/* Todo: Få div class top-buttons til å holde seg på høyreside */
/* Husk at når du ksal lage en style til div class må du skrive . også navnet på hva div class er. Du kan også google "html how to style a div" */