/*General (for hele siden)*/

/* Headings */

h3 {

  text-align: center;

  color: black;

  text-decoration: none;

  border-bottom: 5px solid #b8b7b7;

  display: inline-block;
}

/* banner/Logo */

.banner {
  text-align: center;
  padding: 15px
}

/*top buttons*/

.top-buttons {
  position: absolute;
  top: 0;
  right: 0;
  padding: 10 10 10 10;
  display: flex;
  align-items: center;
}

.top-buttons a {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 15px;
  padding: 15px 20px;
  background-color: #7289DA;
  color: #FFFFFF;
  font-size: 16px;
  text-decoration: none;
  border-radius: 5px;
  transition: all 0.3s ease-in-out;
}

.top-buttons a:first-child {
  margin-left: 0;
}

.top-buttons a:hover {
  background-color: #677BC4;
}

/*navigation */
.content {
  text-align: center;
  margin-top: 0;
}

.nav-menu {
  list-style: none;
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: #24262b;
  position: sticky;
  top: 10px;
  width: 100%;
}

.nav-item {
  display: inline-block;
  position: relative;
}

.nav-item>a {
  display: block;
  padding: 20px 40px;
  text-decoration: none;
  color: white;
  font-size: 18px;
}

.dropdown-toggle:after {
  display: inline-block;
  margin-left: 5px;
}

.dropdown-menu {
  display: none;
  position: absolute;
  top: 118%;
  left: 50%;
  transform: translateX(-50%);
  background-color: #f8f8f8;

  width: 100%;
  margin-top: -10px;
  padding-top: 10px;
}


.dropdown-menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}

.dropdown-menu li {
  display: block;
}

.dropdown-menu a {
  padding: 10px 20px;
  display: block;
  text-decoration: none;
  color: #333;
}

.dropdown-menu.show {
  display: block;
}

.nav-item.dropdown.show .dropdown-menu {
  display: block;
}

/* Todo: Lag en style for header */

/* Todo: Lag en style for footer */

/* Todo: Få div class logo til å holde seg på venstreside */
/* Todo: Få div class top-buttons til å holde seg på høyreside */
/* Husk at når du ksal lage en style til div class må du skrive . også navnet på hva div class er. Du kan også google "html how to style a div" */